.Book-slider-container{
width: 100%;
height: 500px;
display: flex;
position: relative;
overflow-x: hidden;
margin-bottom: 60px;
background-color: white;
padding: 10px 20px 20px 20px;
animation-duration: initial;
}
.Book-slider-arrow-left , .Book-slider-arrow-right  {
width: 50px;
height: 80px;
display: flex;
align-items: center;
justify-content: center;
color: var(--main-color);
background-color: #222;
border-radius: 5px;
position: absolute;
top: 0;
bottom: 0;
margin: auto;
cursor: pointer;
z-index: 2;
font-size: 32px;

}
.Book-slider-arrow-left{
    left: 10px;
}
.Book-slider-arrow-right{
    right: 10px;
}
.Book-slider-wrapper{
    height: 100%;
    display: flex;
    transition: all .5s ease;
}
.book-slide-item{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: snow;
    margin: 0 10px;
    width: 340px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.Book-slide-item-img{
    object-fit: contain;
    border-radius: 7px;
    width: 55%;
}
.Book-slide-item-title{
font-size: 18px;
margin-top: 5px;

}
.Book-slide-item-price{
    color: crimson;
    font-weight: bold;
    font-size: 21px;
}
.Book-slide-icons-wrapper{
 width: 100%;
 height: 10%;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 15px;
 font-size: 30px;
 color: rgb(60, 60, 60);
 border-top: 1px solid black;
}
/* rating */
.Rating{
    width: 100%;
    height: 10%;
    align-items: center;
    display: flex;

}
.contain{
    display: flex;
    width: 100%;
   justify-content: center;
}
.rating{
    color: 	#FFC107;
    font-size: larger;

}
.rating i{
    margin: 0 2px;
}
.reviews{
    width: 50%;
}
.reviews span{
    margin: 0 10px;
    font-weight: 600;
    font-size: 18px;
}
